<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LINQToTTree-Head" version="0.51.0-build435" targetFramework="net461" />
  <package id="NVelocity" version="1.0.3" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.0.3-x-009-160302-230435" targetFramework="net461" />
  <package id="ROOT.NET.Core" version="5.34.36.11" targetFramework="net461" />
  <package id="ROOT.NET.Dynamic" version="5.34.36.11" targetFramework="net461" />
  <package id="ROOT.NET.Graphing" version="5.34.36.11" targetFramework="net461" />
  <package id="ROOT.NET.PROOF" version="5.34.36.11" targetFramework="net461" />
  <package id="ROOT.NET.Tree" version="5.34.36.11" targetFramework="net461" />
  <package id="Sprache" version="2.0.0.51" targetFramework="net461" />
  <package id="System.Collections" version="4.0.11-rc2-24027" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11-rc2-24027" targetFramework="net461" />
  <package id="System.Linq" version="4.1.0-rc2-24027" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.0.11-rc2-24027" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.0.1-rc2-24027" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.0.12-rc2-24027" targetFramework="net461" />
  <package id="System.Reflection" version="4.1.0-rc2-24027" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.0.1-rc2-24027" targetFramework="net461" />
  <package id="System.Runtime" version="4.1.0-rc2-24027" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.1.0-rc2-24027" targetFramework="net461" />
  <package id="System.Threading" version="4.0.11-rc2-24027" targetFramework="net461" />
</packages>